body{
    padding:0;
    margin:0;
    background-color: rgb(117, 174, 221);
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(90, 90, 90);
}
.toggle-container{
    width: 500px;
    margin: 10px auto;
}
.toggle-btn{
    background-color: aliceblue;
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}
button{
    background-color: aliceblue;
    padding:18px;
    border: none;
    flex:1;
}
.content{
    padding:10px 30px;
    background-color: aliceblue;
    display:none ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}